@model JSE.Web.ViewModel.IndexViewModel
@{
    ViewData["Title"] = "Home";
    string email = Model.Estabel.Email;
    var items = Model.Depoimentos.Take(6);
    var iterations = 0;

}

<div class="text-center">
    <!--sobreNos-->
    <section id="sobreNos" class="content">
        
        <!-- Container -->
        <div class="container portfolio_title">

            <!-- Title -->
            <div class="section-title">
                <h2>Sobre Nós</h2>
                <h4>@Model.Estabel.TituloSobreNos</h4>

                <div class="inner_section">
                    <div class="row">
                        <div class="col-md-6"> <img class="img-responsive" src="~/img/about1.png"> </div>
                        <div class="col-md-6">
                            <h3>@Model.Estabel.SubTituloSobreNos</h3>
                            <p>@Model.Estabel.DescricaoSobreNos</p>
                        </div>
                    </div>
                </div>

            </div>
            <!--/Title -->
        </div>
    </section>
    <!--Service-->
    <section id="service">
        <div class="container">
            <h2>Nossos Serviços</h2>
            <h6>Veja abaixo alguns de nossos serviços</h6>
            <div class="service_wrapper">

                <div class="row">
                    @foreach (var servico in Model.Servicos)
                    {
                        <div class="col-md-3">
                            <div class="service_icon delay-03s animated wow  zoomIn"> <span><img class="img-upload" src="~/images/uploads/Servicos/@servico.NomeArquivo" alt="Sua imagem" /></span> </div>
                            <div class="service_block">
                                <h3 class="animated fadeInUp wow">@servico.NomeServico</h3>
                            </div>
                        </div>
                    }
                </div>

                <div class="row">
                    @foreach (var servico in Model.Servicos)
                    {
                        string descricao;
                        if (servico.Descricao.Length > 300)
                        {
                            descricao = servico.Descricao.Substring(0, 300) + "...";
                        }
                        else
                        {
                            descricao = servico.Descricao;
                        }
                        <div class="col-md-3">
                            <div class="service_icon2 delay-03s animated wow zoomIn">
                                <span><i class="fa fa-search-plus" data-toggle="popover" data-placement="bottom" data-content="@descricao"></i></span>
                            </div>
                        </div>
                    }
                </div>
                <div class="row pull-left">
                    <a class="btn btn-index animated fadeInDown wow" href="~/Home/Servicos"><i class="fa fa-search-plus"></i>&nbsp;Saiba mais</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Portfolio -->
    <section id="Portfolio" class="content">

        <!-- Container -->
        <div class="container portfolio_title">

            <!-- Title -->
            <div class="section-title">
                <h2>GALERIA</h2>
                <h6>As imagens abaixo são reais, veja os resultados de nossos clientes.</h6>

            </div>
            <!--/Title -->

        </div>
        <!-- Container -->

        <div class="portfolio-top"></div>

        <!-- Portfolio Filters -->
        <div class="portfolio">

            <div id="filters" class="sixteen columns">
                <ul class="clearfix">
                    <li>
                        <a id="all" href="#" data-filter="*" class="active">
                            <h5>Todos</h5>
                        </a>
                    </li>
                    <li>
                        <a class="" href="#" data-filter=".nature">
                            <h5>Estética Corporal</h5>
                        </a>
                    </li>
                    <li>
                        <a class="" href="#" data-filter=".wildlife">
                            <h5>Estética Facial</h5>
                        </a>
                    </li>
                    <li>
                        <a class="" href="#" data-filter=".citylife">
                            <h5>Make Over</h5>
                        </a>
                    </li>
                    <li>
                        <a class="" href="#" data-filter=".animals">
                            <h5>Nature SPA</h5>
                        </a>
                    </li>
                </ul>
            </div>
            <!--/Portfolio Filters -->
            <!-- Portfolio Wrapper -->
            <div class="isotope fadeInLeft animated wow grid" style="position: relative; overflow: hidden; height: 480px;" id="portfolio_wrapper">
                <!-- Portfolio Item -->
                <figure style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1); width: 337px; opacity: 1;" class="portfolio-item one-four   animals isotope-item effect-oscar">

                    <div class="portfolio_img">
                        <img src="~/img/portfolio_pic1.jpg" alt="Portfolio 1">
                    </div>
                    <figcaption>
                        <div>
                            <a href="~/img/portfolio_pic1.jpg" class="fancybox">
                                <h2>Warm <span>Oscar</span></h2>
                                <p>Oscar is a decent man. He used to clean porches with pleasure.</p>
                            </a>
                        </div>
                    </figcaption>
                </figure>
                <!--/Portfolio Item -->
                <!-- Portfolio Item-->
                <figure style="position: absolute; left: 0px; top: 0px; transform: translate3d(337px, 0px, 0px) scale3d(1, 1, 1); width: 337px; opacity: 1;" class="portfolio-item one-four  wildlife isotope-item effect-oscar">
                    <div class="portfolio_img"> <img src="~/img/portfolio_pic2.jpg" alt="Portfolio 1"> </div>
                    <figcaption>
                        <div>
                            <a href="~/img/portfolio_pic2.jpg" class="fancybox">
                                <h2>Warm <span>Oscar</span></h2>
                                <p>Oscar is a decent man. He used to clean porches with pleasure.</p>
                            </a>
                        </div>
                    </figcaption>
                </figure>
                <!--/Portfolio Item -->
                <!-- Portfolio Item -->
                <figure style="position: absolute; left: 0px; top: 0px; transform: translate3d(674px, 0px, 0px) scale3d(1, 1, 1); width: 337px; opacity: 1;" class="portfolio-item one-four  wildlife  isotope-item effect-oscar">
                    <div class="portfolio_img"> <img src="~/img/portfolio_pic3.jpg" alt="Portfolio 1"> </div>
                    <figcaption>
                        <div>
                            <a href="~/img/portfolio_pic3.jpg" class="fancybox">
                                <h2>Warm <span>Oscar</span></h2>
                                <p>Oscar is a decent man. He used to clean porches with pleasure.</p>
                            </a>
                        </div>
                    </figcaption>
                </figure>
                <!--/Portfolio Item-->
                <!-- Portfolio Item-->
                <figure style="position: absolute; left: 0px; top: 0px; transform: translate3d(1011px, 0px, 0px) scale3d(1, 1, 1); width: 337px; opacity: 1;" class="portfolio-item one-four  citylife  nature web isotope-item effect-oscar">
                    <div class="portfolio_img"> <img src="~/img/portfolio_pic4.jpg" alt="Portfolio 1"> </div>
                    <figcaption>
                        <div>
                            <a href="~/img/portfolio_pic4.jpg" class="fancybox">
                                <h2>Warm <span>Oscar</span></h2>
                                <p>Oscar is a decent man. He used to clean porches with pleasure.</p>
                            </a>
                        </div>
                    </figcaption>
                </figure>
                <!-- Portfolio Item -->
                <!-- Portfolio Item -->
                <figure style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 240px, 0px) scale3d(1, 1, 1); width: 337px; opacity: 1;" class="portfolio-item one-four  wildlife isotope-item effect-oscar">
                    <div class="portfolio_img"> <img src="~/img/portfolio_pic5.jpg" alt="Portfolio 1"> </div>
                    <figcaption>
                        <div>
                            <a href="~/img/portfolio_pic5.jpg" class="fancybox">
                                <h2>Warm <span>Oscar</span></h2>
                                <p>Oscar is a decent man. He used to clean porches with pleasure.</p>
                            </a>
                        </div>
                    </figcaption>
                </figure>
                <!--/Portfolio Item -->
                <!-- Portfolio Item -->
                <figure style="position: absolute; left: 0px; top: 0px; transform: translate3d(337px, 240px, 0px) scale3d(1, 1, 1); width: 337px; opacity: 1;" class="portfolio-item one-four  web isotope-item effect-oscar">
                    <div class="portfolio_img"> <img src="~/img/portfolio_pic6.jpg" alt="Portfolio 1"> </div>
                    <figcaption>
                        <div>
                            <a href="~/img/portfolio_pic6.jpg" class="fancybox">
                                <h2>Warm <span>Oscar</span></h2>
                                <p>Oscar is a decent man. He used to clean porches with pleasure.</p>
                            </a>
                        </div>
                    </figcaption>
                </figure>
                <!--/Portfolio Item -->
                <!-- Portfolio Item  -->
                <figure style="position: absolute; left: 0px; top: 0px; transform: translate3d(674px, 240px, 0px) scale3d(1, 1, 1); width: 337px; opacity: 1;" class="portfolio-item one-four  wildlife web isotope-item effect-oscar">
                    <div class="portfolio_img"> <img src="~/img/portfolio_pic7.jpg" alt="Portfolio 1"> </div>
                    <figcaption>
                        <div>
                            <a href="~/img/portfolio_pic7.jpg" class="fancybox">
                                <h2>Warm <span>Oscar</span></h2>
                                <p>Oscar is a decent man. He used to clean porches with pleasure.</p>
                            </a>
                        </div>
                    </figcaption>
                </figure>
                <!--/Portfolio Item -->
                <!-- Portfolio Item -->
                <figure style="position: absolute; left: 0px; top: 0px; transform: translate3d(1011px, 240px, 0px) scale3d(1, 1, 1); width: 337px; opacity: 1;" class="portfolio-item one-four   citylife isotope-item effect-oscar">
                    <div class="portfolio_img"> <img src="~/img/portfolio_pic8.jpg" alt="Portfolio 1"> </div>
                    <figcaption>
                        <div>
                            <a href="~/img/portfolio_pic8.jpg" class="fancybox">
                                <h2>Warm <span>Oscar</span></h2>
                                <p>Oscar is a decent man. He used to clean porches with pleasure.</p>
                            </a>
                        </div>
                    </figcaption>
                </figure>
                <!--/Portfolio Item -->

            </div>
            <!--/Portfolio Wrapper -->

        </div>
        <!--/Portfolio Filters -->

        <div class="portfolio_btm"></div>


        <div id="project_container">
            <div class="clear"></div>
            <div id="project_data"></div>
        </div>


    </section>
    <!--/Portfolio -->

    <section id="experience">
        <div class="container">
            <section id="news" class="white-bg padding-top-bottom">
                <div class="section-title">
                    <h2>Depoimentos </h2>
                    @*<h6>Essas são algumas experiencias </h6>*@
                </div>

                <section id="carousel">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="quote"><i class="fa fa-quote-left fa-4x"></i></div>
                                <div class="carousel slide" id="fade-quote-carousel" data-ride="carousel" data-interval="3500">

                                    <ol class="carousel-indicators">
                                        @for (int i = 0; i < items.Count(); i++)
                                        {
                                            if (i == 0)
                                            {
                                                <li data-target="#fade-quote-carousel" data-slide-to="@i" class="active"></li>
                                            }
                                            else
                                            {
                                                <li data-target="#fade-quote-carousel" data-slide-to="@i"></li>
                                            }
                                        }
                                    </ol>

                                    <div class="carousel-inner">
                                        @while (items.Count() > 0)
                                        {

                                            foreach (var item in items)
                                            {
                                                var active = iterations == 0 ? "active" : "";
                                                var imagem = "";

                                                if (item.NomeArquivo == "" || !System.IO.File.Exists(item.Imagem))
                                                {
                                                    imagem = "user-avatar.jpg";
                                                }
                                                else
                                                {
                                                    imagem = item.NomeArquivo;
                                                }

                                                <div class="@active item">
                                                    <blockquote>
                                                        <p>@item.Descricao</p>
                                                    </blockquote>
                                                    <div class="profile-circle">
                                                        <img class="img-upload" src="~/images/uploads/Depoimentos/@imagem" />
                                                    </div>
                                                </div>

                                                iterations++;
                                                items = Model.Depoimentos.Skip(6 * iterations).Take(6);
                                            }


                                        }
                                      
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <div class="text-center">
                    <a href="#" class="btn btn-primary" onclick="initImage()" data-toggle="modal" data-target="#modalDepoimentoForm">Clique aqui e deixe seu depoimento</a>
                    <partial name="_DepoimentoUsuario" model="new Depoimento { }" />
                </div>
            </section>
        </div>
    </section>

</div>

<div>
    <footer class="footer_wrapper" id="Contato">
        <div class="container">
            <section class="page_section Contato" id="Contato">
                <div class="Contato_section">
                    <h2 class="text-contato">Contato</h2>
                    <h6 class="text-contato">Em caso de dúvidas ou mais informações entre em contato conosco</h6>

                </div>


                <div class="row">
                    @*Info Estabelecimento*@
                    <div>
                        <div class="col-lg-4 wow fadeInLeft">
                            <div class="Contato_info">
                                <div class="detail">
                                    <h4 class="text-contato-align">@Html.DisplayFor(model => model.Estabel.NomeFantasia)</h4>
                                    <p class="text-contato-align">Endereço: @Html.DisplayFor(model => model.Estabel.Endereco)</p>
                                    <p class="text-contato-align">Bairro: @Html.DisplayFor(model => model.Estabel.Bairro)</p>
                                    <p class="text-contato-align">Cidade: @Html.DisplayFor(model => model.Estabel.Cidade) - @Html.DisplayFor(model => model.Estabel.UF) </p>
                                    <p class="text-contato-align">Complemento: @Html.DisplayFor(model => model.Estabel.Complemento) </p>
                                    <p class="text-contato-align">Cep: @Html.DisplayFor(model => model.Estabel.CEP)</p>
                                    <p class="text-contato-align">CNPJ: @Html.DisplayFor(model => model.Estabel.CNPJ)</p>

                                </div>
                                <div class="detail">
                                    <h4 class="text-contato-align">Telefone / Whatsapp</h4>
                                    <p class="text-contato-align"> @Html.DisplayFor(model => model.Estabel.TelefoneCelular)</p>
                                </div>
                                <div class="detail">
                                    <h4 class="text-contato-align">E-mail</h4>
                                    <p class="text-contato-align"> <a class="text-contato-align" href="mailto:@email">@email</a></p>
                                </div>
                            </div>

                            <ul class="social_links">
                                <li class="facebook animated bounceIn wow delay-03s"><a href="@Html.DisplayFor(model => model.Estabel.UrlFacebook)"><i class="fa fa-facebook"></i></a></li>
                                <li class="facebook animated bounceIn wow delay-04s"><a href="@Html.DisplayFor(model => model.Estabel.UrlInstagram)"><i class="fa fa-instagram"></i></a></li>
                                <li class="pinterest animated bounceIn wow delay-04s"><a href="@Html.DisplayFor(model => model.Estabel.UrlInstagram)"><i class="fa fa-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-8 wow fadeInLeft delay-06s">
                        <div class="form">

                            <div id="alertDiv">

                            </div>

                            <div class="row">
                                @*Info Contato*@
                                <div class="col-md-12">

                                    <form asp-action="RegistraContato" id="contatoForm" method="post">

                                        <div id="alertaDiv" class="alert alert-dismissible invisivel" role="alert">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <div>
                                                <ul id="textoAlerta">
                                                </ul>
                                            </div>
                                        </div>

                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <div class="col-lg-8 wow fadeInLeft delay-06s">
                                            <input id="nome" asp-for="Contato.Nome" class="input-text input-contato" type="text" placeholder="Nome *">

                                            <input id="email" asp-for="Contato.Email" class="input-text input-contato" type="text" name="" placeholder="E-mail *">
                                            <span asp-validation-for="Contato.Email" class="text-danger"></span>

                                            <input id="telefone" asp-for="Contato.Telefone" class="input-text input-contato" type="text" name="txttelefone" placeholder="Telefone *">
                                            <span asp-validation-for="Contato.Telefone" class="text-danger"></span>

                                            <input id="contatoWhatsapp" asp-for="Contato.ContatoWhatsapp" class="custom-control-input" type="checkbox" checked>
                                            <label style="color:white" class="form-check-label" for="gridCheck1">Aceito Contato via Whatsapp </label>

                                            <textarea id="mensagem" asp-for="Contato.Mensagem" class="input-text  text-area input-contato" cols="0" rows="0" placeholder="Digite sua mensagem *"></textarea>
                                            <span asp-validation-for="Contato.Mensagem" class="text-danger"></span>

                                            <div class="form-group">

                                                <input id="btnContato"
                                                       data-controller="Home"
                                                       data-action="RegistraContato"
                                                       data-body-message="Registrar contato"
                                                       class="btn input-btn btn-block saveasync" type="submit" value="Enviar">
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3660.216460695643!2d-46.55099028502423!3d-23.452655284737027!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cef5a8ceec7069%3A0x719101b9696143cb!2sJay%20Soares%20Est%C3%A9tica%20de%20Resultado!5e0!3m2!1spt-BR!2sbr!4v1588530518860!5m2!1spt-BR!2sbr" width="100%" height="350" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
            </section>
        </div>

        <div class="container">
            <div class="footer_bottom"><span>Todos os Direitos © reservados - <a href="https://www.linkedin.com/in/bmendesgonca/" target="_blank" title="Linkedin">Desenvolvido por Bruno M. Gonçalves</a> </span> </div>
        </div>
    </footer>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="~/js/envia-contato.js"></script>

<script>
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover({
            placement: 'bottom',
            trigger: 'hover'
        });
    });
</script>   