@model IndexViewModel
@{
    ViewData["Title"] = "Home";
    string email = Model.Estabel.Email;
    var items = Model.Depoimentos.Take(6);
    ///var iterations = 0;
}

<link rel="apple-touch-icon" type="image/png" href="https://cpwebassets.codepen.io/assets/favicon/apple-touch-icon-5ae1a0698dcc2402e9712f7d01ed509a57814f994c660df9f7a952f3060705ee.png">
<link rel="shortcut icon" type="image/x-icon" href="https://cpwebassets.codepen.io/assets/favicon/favicon-aec34940fbc1a6e787974dcd360f2c6b63348d4b1f4e06c77743096d55480f33.ico">
<link rel="mask-icon" type="" href="https://cpwebassets.codepen.io/assets/favicon/logo-pin-8f3771b1072e3c38bd662872f6b673a722f4b3ca2421637d5596661b4e2132cc.svg" color="#111">

<link href="~/client/css/photo-upload.css" rel="stylesheet" />
<section id="why-us" class="why-us">
    <div class="container">

        <div class="row">
            <div class="col-lg-4 d-flex align-items-stretch">
                <div class="content">
                    <h3>Porque escolher Jay Soares?</h3>
                    <p>
                        - Estética personalizada e resultados sensacionais <br />
                        - Ética e profissionalismo <br />
                        - Produtos e tratamentos de ponta<br />
                        - Transformação - beleza com saúde<br />
                        - Foco no bem estar e satisfação do cliente
                    </p>
                    <!-- <div class="text-center">
                      <a href="#" class="more-btn">Leia mais <i class="bx bx-chevron-right"></i></a>
                    </div> -->
                </div>
            </div>
            <div class="col-lg-8 d-flex align-items-stretch">
                <div class="icon-boxes d-flex flex-column justify-content-center">
                    <div class="row">
                        <div class="col-xl-4 d-flex align-items-stretch">
                            <div class="icon-box mt-4 mt-xl-0">
                                <i class="bx bx-happy-heart-eyes"></i>
                                <h4>Tratando pessoas</h4>
                                <p>Respeito, carinho e atenção. Essas são as nossas premissas.</p>
                            </div>
                        </div>
                        <div class="col-xl-4 d-flex align-items-stretch">
                            <div class="icon-box mt-4 mt-xl-0">
                                <i class="bx bx-target-lock"></i>
                                <h4>Foco no objetivo</h4>
                                <p>A nossa satisfação é o seu objetivo alcançado e o sentimento de dever cumprido.</p>
                            </div>
                        </div>
                        <div class="col-xl-4 d-flex align-items-stretch">
                            <div class="icon-box mt-4 mt-xl-0">
                                <i class="bx bx-home-heart"></i>
                                <h4>Ambiente especial</h4>
                                <p>Estrutura preparada para melhor lhe atender.</p>
                            </div>
                        </div>

                    </div>
                </div><!-- End .content-->
            </div>
        </div>

    </div>
</section>

<section id="about" class="about">
    <div class="container-fluid">

        <div class="row">
            <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch">
                <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
            </div>

            <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
                <h3>Minha história</h3>
                <p>@Html.Raw(@Model.Estabel.DescricaoSobreNos)</p>
                <p><strong>Clique no video ao lado e veja nosso espaço.</strong></p>
            </div>
        </div>

    </div>
</section>
<section id="services" class="services section-bg">
    <div class="container">

        <div class="section-title">
            <h2>Serviços</h2>
            <p>Abaixo alguns dos serviços que prestamos, clique e saiba mais.</p>
        </div>


        <div class="row">
            @if (Model.Servicos != null && Model.Servicos.Count > 0)
            {
                foreach (Servico servico in Model.Servicos)
                {
                    string descServico = servico.Descricao;

                    if (servico.Descricao.Length > 200)
                    {
                        descServico = servico.Descricao.Substring(0, 200) + "...";
                    }

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                        <div class="icon-box">
                            <div class="icon"><i class="icofont-heart-beat"></i></div>
                            <h4><a asp-controller="Home" asp-action="Servicos">@servico.NomeServico</a></h4>
                            <p>@descServico</p>
                        </div>
                    </div>
                }
            }
        </div>

        <div class="row no-gutters">

            <div class="col-lg-12 col-md-4 p-3">
                <div class="text-center">
                    <a asp-controller="Home" asp-action="Servicos" class="btn-primary saiba-mais-btn scrollto"> Saiba mais</a>
                </div>
            </div>
        </div>

    </div>
</section>

<section id="testimonials" class="testimonials">
    <div class="container">

        <div class="section-title">
            <h2>Depoimentos</h2>
        </div>


        @if (Model.Depoimentos != null && Model.Depoimentos.Count > 0)
        {
            <div class="owl-carousel testimonials-carousel">

                @foreach (Depoimento d in Model.Depoimentos)
                {
                    <div class="testimonial-wrap">
                        <div class="testimonial-item">
                            @*<img src="~/client/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">*@
                            <img src="~/images/user-avatar.jpg" class="testimonial-img" alt="" />
                            <h3>@d.NomeCliente</h3>
                            <h4>Cliente</h4>
                            <div class="card-body">
                                <p><i class="bx bxs-quote-alt-left quote-icon-left"></i>@Html.Raw(d.Descricao.Trim())<i class="bx bxs-quote-alt-right quote-icon-right"></i></p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }

    </div>
</section>



<section id="appointment" class="appointment ">
    <div class="container">

        <div class="section-title">
            <strong>Conte-nos como foi sua experiência! </strong>
        </div>

        <form action="home/depoimento" enctype="application/x-www-form-urlencoded" method="post" role="form" class="php-email-form p-0">
            <div class="form-row">
                <div class="col-md-4 form-group">
                    <input type="text" name="NomeCliente" class="form-control" id="name" placeholder="Nome" data-rule="minlen:4" data-msg="Por favor informe um nome com mais de 4 caracteres">
                    <div class="validate"></div>
                </div>
                <div class="col-md-5 form-group">
                    <input type="email" class="form-control" name="Email" id="email" placeholder="E-mail" data-rule="email" data-msg="Por favor, informe um e-mail válido">
                    <div class="validate"></div>
                </div>
                <div class="col-md-3 form-group">
                    <input type="tel" class="form-control celphone" name="TelefoneCelular" id="phone" placeholder="Celular / Whatsapp" data-rule="minlen:4" data-msg="Informe um telefone válido">
                    <div class="validate"></div>
                </div>
            </div>

            <div class="form-group">
                <textarea class="form-control" name="Descricao" rows="5" placeholder="Escreva aqui seu depoimento" data-rule="minlen:15" data-msg="Descreva melhor sua experiência"></textarea>
                <div class="validate"></div>
            </div>

            <div class="form-row p-0">
                <div class="avatar-wrapper">
                    <img class="profile-pic" src="~/client/img/photo.png" />
                    <div class="upload-button">
                        <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
                    </div>
                    <input class="file-upload" name="ArquivoUpload" type="file" accept="image/*" />
                </div>
            </div>

            <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="alert alert-success alert-dismissible fade show sent-message" role="alert">
                    <strong>Sucesso!</strong> Seu depoimento foi enviado! Obrigado! :)
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>


            @Html.AntiForgeryToken()

            <div class="text-center"><button type="submit">Enviar Depoimento</button></div>
        </form>

    </div>
</section>

<section id="faq" class="faq section-bg">
    <div class="container">

        <div class="section-title">
            <h2>Perguntas Frequentes</h2>
        </div>

        @if (Model.Faqs != null && Model.Faqs.Count > 0)
        {
            int delay = 0;
            int id = 0;


            <div class="faq-list">
                <ul>

                    @foreach (Faqs faqItem in Model.Faqs)
                    {
                        delay += 100;
                        id++;

                        if (id == 1)
                        {
                            delay += 0;
                        }

                        @if (id == 1)
                        {
                            <li data-aos="fade-up">
                                <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" class="collapse" href="#faq-list-@id"> @faqItem.Pergunta? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                                <div id="faq-list-@id" class="collapse show" data-parent=".faq-list">
                                    <p>
                                        @faqItem.Resposta
                                    </p>
                                </div>
                            </li>
                        }
                        else
                        {

                            <li data-aos="fade-up" data-aos-delay="@delay">
                                <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-@id" class="collapsed">@faqItem.Pergunta? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                                <div id="faq-list-@id" class="collapse" data-parent=".faq-list">
                                    <p>
                                        @faqItem.Resposta
                                    </p>
                                </div>
                            </li>
                        }
                    }


                </ul>
            </div>

        }

    </div>
</section>


<section id="gallery" class="gallery">
    <div class="container">

        <div class="section-title">
            <h2>Galeria</h2>
            <p>Veja alguns dos nossos resultados abaixo. </p>
        </div>
    </div>

    <div class="container-fluid">

        @if (Model.Galerias != null && Model.Galerias.Count > 0)
        {
            <div class="row no-gutters">

                @foreach (Galeria galeria in Model.Galerias)
                {
                    <div class="col-lg-3 col-md-4">
                        <div class="gallery-item">
                            <a href="~/images/uploads/Galeria/@galeria.NomeArquivo" class="venobox" data-gall="gallery-item">
                                <img src="~/images/uploads/Galeria/@galeria.NomeArquivo" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>
                }
            </div>
        }


        @*<div class="row no-gutters">

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="~/client/img/gallery/gallery-1.jpg" class="venobox" data-gall="gallery-item">
                            <img src="~/client/img/gallery/gallery-1.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="~/client/img/gallery/gallery-2.jpg" class="venobox" data-gall="gallery-item">
                            <img src="~/client/img/gallery/gallery-2.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="~/client/img/gallery/gallery-3.jpg" class="venobox" data-gall="gallery-item">
                            <img src="~/client/img/gallery/gallery-3.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="~/client/img/gallery/gallery-4.jpg" class="venobox" data-gall="gallery-item">
                            <img src="~/client/img/gallery/gallery-4.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="~/client/img/gallery/gallery-5.jpg" class="venobox" data-gall="gallery-item">
                            <img src="~/client/img/gallery/gallery-5.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="~/client/img/gallery/gallery-6.jpg" class="venobox" data-gall="gallery-item">
                            <img src="~/client/img/gallery/gallery-6.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="~/client/img/gallery/gallery-7.jpg" class="venobox" data-gall="gallery-item">
                            <img src="~/client/img/gallery/gallery-7.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="~/client/img/gallery/gallery-8.jpg" class="venobox" data-gall="gallery-item">
                            <img src="~/client/img/gallery/gallery-8.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

            </div>*@

        <div class="row no-gutters">

            <div class="col-lg-12 col-md-4 p-3">
                <div class="text-center">
                    <a asp-controller="Home" asp-action="Galeria" class="btn-primary saiba-mais-btn scrollto"> Saiba mais</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="contact" class="contact section-bg">
    <div class="container">

        <div class="section-title">
            <h2>Contato</h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>
    </div>



    <div class="container">
        <div class="row mt-5">

            <div class="col-lg-4">
                <div class="info">
                    <div class="address">
                        <i class="icofont-google-map"></i>
                        <h4>Endereço:</h4>
                        <p>Alameda Yayá, 1294 - Jardim Aida | Guarulhos / SP</p>
                    </div>

                    <div class="email">
                        <i class="icofont-envelope"></i>
                        <h4>E-mail:</h4>
                        <p>contato@jaysoaresestetica.com.br</p>
                    </div>

                    <div class="phone">
                        <i class="icofont-phone"></i>
                        <h4>Telefone:</h4>
                        <p>55 11 9-9999-9999</p>
                    </div>

                </div>

            </div>

            <div class="col-lg-8 mt-5 mt-lg-0">

                <form action="home/contato" method="post" role="form" class="php-email-form">
                    <div class="form-row">
                        <div class="col-md-6 form-group">
                            <input type="text" name="Nome" class="form-control" id="name" placeholder="Nome" data-rule="minlen:4" data-msg="Por favor, nome deve ter pelo menos 4 caracteres" />
                            <div class="validate"></div>
                        </div>
                        <div class="col-md-6 form-group">
                            <input type="tel" class="form-control celphone" name="telefone" id="telefone" data-rule="required" placeholder="Telefone / Whatsapp" data-msg="Por favor, informe um telefone válido" />
                            <div class="validate"></div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-5 form-group">
                            <input type="text" class="form-control" name="Assunto" id="subject" placeholder="Assunto" data-rule="required" data-msg="Por favor, assunto deve ter pelo menos 4 caracteres" />
                            <div class="validate"></div>
                        </div>
                        <div class="col-md-7 form-group">
                            <input type="email" class="form-control" name="email" id="email" placeholder="E-mail" data-msg="Por favor, informe um e-mail válido" />
                            <div class="validate"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <textarea class="form-control" name="Mensagem" rows="5" data-rule="required" data-msg="Por favor, escreva a mensagem" placeholder="Mensagem"></textarea>
                        <div class="validate"></div>
                    </div>
                    <div class="mb-3">
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>

                        <div class="alert alert-success alert-dismissible fade show sent-message" role="alert">
                            <strong>Sucesso!</strong> Sua mensagem foi enviada. Obrigado!
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    <div class="text-center"><button type="submit">Enviar</button></div>
                </form>

            </div>

        </div>

    </div>
    <br />
    <div>
        <iframe style="border:0; width: 100%; height: 350px;"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3660.216460695643!2d-46.55099028502423!3d-23.452655284737027!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cef5a8ceec7069%3A0x719101b9696143cb!2sJay%20Soares%20Est%C3%A9tica%20de%20Resultado!5e0!3m2!1spt-BR!2sbr!4v1588530518860!5m2!1spt-BR!2sbr"
                frameborder="0" allowfullscreen></iframe>
    </div>
</section>




@section Scripts{

    <script type="text/javascript">
        $(document).ready(function () {

            var readURL = function (input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('.profile-pic').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }

            $(".file-upload").on('change', function () {
                readURL(this);
            });

            $(".upload-button").on('click', function () {
                $(".file-upload").click();
            });
        });
    </script>

}