@model JSE.Web.ViewModel.IndexViewModel
@{
    ViewData["Title"] = "Home";
    string email = Model.Estabel.Email;
    var items = Model.Depoimentos.Take(6);
    var iterations = 0;
}

<div class="text-center">
    <!--sobreNos-->
    <section id="sobreNos" class="content">

        <!-- Container -->
        <div class="container portfolio_title">

            <!-- Title -->
            <div class="section-title">
                <br />
                <h2>Sobre Nós</h2>
                <h4>@Model.Estabel.TituloSobreNos</h4>

                <div class="inner_section">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 style="text-align:center">@Model.Estabel.SubTituloSobreNos</h3>
                            <br />
                            <p style="text-align:left">
                                <img class="img-responsive img-float" src="~/img/about1.png">
                                @Model.Estabel.DescricaoSobreNos
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--/Title -->
        </div>

        <div class="container portfolio_title">

            <!-- Title -->
            <div class="section-title">
                <br />
                <h2>Nosso Espaço</h2>
                @*<h4>Nosso Espaço</h4>*@

                <div class="inner_section">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                    <li data-target="#myCarousel" data-slide-to="1"></li>
                                    <li data-target="#myCarousel" data-slide-to="2"></li>
                                    <li data-target="#myCarousel" data-slide-to="3"></li>
                                    <li data-target="#myCarousel" data-slide-to="4"></li>
                                    <li data-target="#myCarousel" data-slide-to="5"></li>
                                    <li data-target="#myCarousel" data-slide-to="6"></li>
                                    <li data-target="#myCarousel" data-slide-to="7"></li>
                                    <li data-target="#myCarousel" data-slide-to="8"></li>
                                </ol>

                                <!-- Wrapper for slides -->
                                <div class="carousel-inner">
                                    <div class="item img-estab active">
                                        <img src="~/images/uploads/Estabelecimento/1.png" alt="">
                                    </div>

                                    <div class="item img-estab">
                                        <img src="~/images/uploads/Estabelecimento/2.png" alt="">
                                    </div>

                                    <div class="item img-estab">
                                        <img src="~/images/uploads/Estabelecimento/3.png" alt="">
                                    </div>
                                    <div class="item img-estab">
                                        <img src="~/images/uploads/Estabelecimento/4.png" alt="">
                                    </div>
                                    <div class="item img-estab">
                                        <img src="~/images/uploads/Estabelecimento/5.png" alt="">
                                    </div>
                                    <div class="item img-estab">
                                        <img src="~/images/uploads/Estabelecimento/6.png" alt="">
                                    </div>
                                    <div class="item img-estab">
                                        <img src="~/images/uploads/Estabelecimento/7.png" alt="">
                                    </div>
                                    <div class="item img-estab">
                                        <img src="~/images/uploads/Estabelecimento/8.png" alt="">
                                    </div>
                                    <div class="item img-estab">
                                        <img src="~/images/uploads/Estabelecimento/9.png" alt="">
                                    </div>
                                </div>

                                <!-- Left and right controls -->
                                @*<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                                    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>*@

                                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left">&lsaquo;</span>
                                    <span class="sr-only">Anterior</span>
                                </a>
                                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right">&rsaquo;</span>
                                    <span class="sr-only">Próximo</span>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!--/Title -->
        </div>


    </section>

    <!--Service-->
    <section id="service">
        <div class="container">
            <h2>Nossos Serviços</h2>
            <h6>Veja abaixo alguns de nossos serviços</h6>
            <div class="service_wrapper">

                <div class="row">
                    @foreach (var servico in Model.Servicos)
                    {
                        string descricao;
                        if (servico.Descricao.Length > 300)
                        {
                            descricao = servico.Descricao.Substring(0, 300) + "...";
                        }
                        else
                        {
                            descricao = servico.Descricao;
                        }

                        <div class="col-md-3">
                            <div class="service_icon delay-03s animated wow  "> <span><img class="img-upload" src="~/images/uploads/Servicos/@servico.NomeArquivo" alt="Sua imagem" /></span> </div>
                            <div class="service_block">
                                <h3 class="animated fadeInUp wow">@servico.NomeServico</h3>
                            </div>

                            <div class="service_icon2 delay-03s animated wow ">
                                <span><i class="fa fa-search-plus" data-toggle="popover" data-placement="bottom" data-content="@descricao"></i></span>
                            </div>

                        </div>
                    }
                </div>

                <div class="row pull-left">
                    <a class="btn btn-index animated wow" href="~/Home/Servicos"><i class="fa fa-search-plus"></i>&nbsp;Saiba mais</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Portfolio -->
    <section id="Portfolio" class="content">

        <!-- Container -->
        <div class="container portfolio_title">
            <div class="section-title">
                <h2>GALERIA</h2>
                <h6>As imagens abaixo são reais, veja os resultados de nossos clientes.</h6>
            </div>
        </div>
        <!-- Container -->

        <div class="portfolio-top"></div>

        <!-- Portfolio Filters -->
        <div class="portfolio">

            <div id="filters" class="sixteen columns">
                <ul class="clearfix">
                    <li>
                        <a id="all" href="#" data-filter="*" class="active">
                            <h5>Todos</h5>
                        </a>
                    </li>
                    @foreach (var c in Model.Categorias)
                    {
                        <li>
                            <a class="" href="#" data-filter=".@c.Categoria">
                                <h5>Estética @c.Categoria</h5>
                            </a>
                        </li>
                    }

                </ul>

            </div>


            <!--/Portfolio Filters -->
            <!-- Portfolio Wrapper -->
            <div class="isotope fadeInLeft animated wow grid" style="position: relative; overflow: hidden; height: 480px;" id="portfolio_wrapper">
                <!-- Portfolio Item -->

                @foreach (var g in Model.Galerias)
                {
                    if (@g.NomeArquivo != "")
                    {

                        <figure style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1); width: 337px; opacity: 1;" class="portfolio-item one-four @g.NomeCategoria  isotope-item effect-oscar">

                            <a href="~/images/uploads/Galeria/@g.NomeArquivo" class="fancybox">
                                <div class="portfolio_img">
                                    <img src="~/images/uploads/Galeria/@g.NomeArquivo" alt="@g.NomeServico" />
                                </div>
                                <figcaption>
                                    <div>
                                        <h3 class="portifolio-text">@g.NomeServico</h3>
                                    </div>
                                </figcaption>
                            </a>
                        </figure>
                    }
                }


            </div>



            <!--/Portfolio Wrapper -->

        </div>


        <!--/Portfolio Filters -->

        <div class="portfolio_btm"></div>
        <br />
        <div class="text-center">
            <a class="btn btn-primary" href="~/Home/Galerias"><i class="fa fa-search-plus"></i>&nbsp;Veja mais</a>
        </div>

        <div id="project_container">
            <div class="clear"></div>
            <div id="project_data"></div>

        </div>

    </section>
    <!--/Portfolio -->

    <section id="experience">
        <div class="container">
            <section id="news" class="white-bg padding-top-bottom">
                <div class="section-title">
                    <h2>Depoimentos </h2>
                </div>

                <section id="carousel">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="quote"><i class="fa fa-quote-left fa-4x"></i></div>
                                <div class="carousel slide" id="fade-quote-carousel" data-ride="carousel" data-interval="3500">

                                    <ol class="carousel-indicators">
                                        @for (int i = 0; i < items.Count(); i++)
                                        {
                                            if (i == 0)
                                            {
                                                <li data-target="#fade-quote-carousel" data-slide-to="@i" class="active"></li>
                                            }
                                            else
                                            {
                                                <li data-target="#fade-quote-carousel" data-slide-to="@i"></li>
                                            }
                                        }
                                    </ol>

                                    <div class="carousel-inner">
                                        @while (items.Count() > 0)
                                        {

                                            foreach (var item in items)
                                            {
                                                var active = iterations == 0 ? "active" : "";
                                                var imagem = "";

                                                if (item.NomeArquivo == "" || !System.IO.File.Exists(item.Imagem))
                                                {
                                                    imagem = "user-avatar.jpg";
                                                }
                                                else
                                                {
                                                    imagem = item.NomeArquivo;
                                                }

                                                <div class="@active item">
                                                    <blockquote>
                                                        <p>@item.Descricao</p>
                                                    </blockquote>
                                                    <div class="profile-circle">
                                                        <img class="img-upload" src="~/images/uploads/Depoimentos/@imagem" />
                                                    </div>
                                                </div>

                                                iterations++;
                                                items = Model.Depoimentos.Skip(6 * iterations).Take(6);
                                            }


                                        }

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </section>

               
                <div class="text-center">
                    <button type="button" id="btnModal" class="btn btn-primary" data-toggle="modal" data-target="#modalDepoimentoForm">
                        Clique aqui e deixe seu depoimento
                    </button>
                    @*<a href="#" class="btn btn-primary" data-toggle="modal" data-target="#modalDepoimentoForm">Clique aqui e deixe seu depoimento</a>*@
                    @*<a href="#" class="btn btn-primary" onclick="initImage()" data-toggle="modal" data-target="#modalDepoimentoForm">Clique aqui e deixe seu depoimento</a>*@


                    <div class="modal fade" id="modalDepoimentoForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <p style="font-weight:bold;font-size:x-large">Formulário de depoimento </p>
                                    <br />
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true" style="font-size:xx-large">&times;</span>
                                    </button>
                                </div>
                                <div id="conteudoDepoimento">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
        </div>
    </section>

</div>

<div>
    <footer class="footer_wrapper" id="Contato">
        <div class="container">
            <section class="page_section Contato" id="Contato">
                <div class="Contato_section">
                    <h2 class="text-contato">Contato</h2>
                    <h6 class="text-contato">Em caso de dúvidas ou mais informações entre em contato conosco</h6>

                </div>


                <div class="row">
                    @*Info Estabelecimento*@
                    <div>
                        <div class="col-lg-4 wow fadeInLeft">
                            <div class="Contato_info">
                                <div class="detail">
                                    <h4 class="text-contato-align">@Html.DisplayFor(model => model.Estabel.NomeFantasia)</h4>
                                    <p class="text-contato-align">Endereço: @Html.DisplayFor(model => model.Estabel.Endereco)</p>
                                    <p class="text-contato-align">Bairro: @Html.DisplayFor(model => model.Estabel.Bairro)</p>
                                    <p class="text-contato-align">Cidade: @Html.DisplayFor(model => model.Estabel.Cidade) - @Html.DisplayFor(model => model.Estabel.UF) </p>
                                    <p class="text-contato-align">Complemento: @Html.DisplayFor(model => model.Estabel.Complemento) </p>
                                    <p class="text-contato-align">Cep: @Html.DisplayFor(model => model.Estabel.CEP)</p>
                                    <p class="text-contato-align">CNPJ: @Html.DisplayFor(model => model.Estabel.CNPJ)</p>

                                </div>
                                <div class="detail">
                                    <h4 class="text-contato-align">Telefone / Whatsapp</h4>
                                    <p class="text-contato-align"> @Html.DisplayFor(model => model.Estabel.TelefoneCelular)</p>
                                </div>
                                <div class="detail">
                                    <h4 class="text-contato-align">E-mail</h4>
                                    <p class="text-contato-align"> <a class="text-contato-align" href="mailto:@email">@email</a></p>
                                </div>
                            </div>

                            <div>
                                <hr />
                                <p class="text-contato-align">Nossas midias sociais</p>
                                <ul class="social_links">
                                    <li class="facebook animated bounceIn wow delay-03s"><a href="@Model.Estabel.UrlFacebook" target="_blank"><i class="fa fa-facebook fa-lg"></i></a></li>
                                    <li class="pinterest animated bounceIn wow delay-04s"><a href="@Model.Estabel.UrlInstagram" target="_blank"><i class="fa fa-instagram fa-lg"></i></a></li>
                                    <li class="pinterest animated bounceIn wow delay-04s"><a href="@Model.Estabel.UrlYoutube" target="_blank"><i class="fa fa-youtube fa-lg "></i></a></li>
                                    <li class="pinterest animated bounceIn wow delay-04s"><a href="@Model.Estabel.TelefoneCelular" target="_blank"><i class="fa fa-whatsapp fa-lg "></i></a></li>

                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-8 wow fadeInLeft delay-06s">

                        <div class="form">

                            <div class="row">
                                <div class="col-md-12">

                                    <form asp-controller="Home" asp-action="RegistraContato" id="contatoForm">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <div class="col-lg-8 wow fadeInLeft delay-06s">
                                            <input id="nome" asp-for="Contato.Nome" class="input-text input-contato" type="text" placeholder="Nome *">
                                            <input id="email" asp-for="Contato.Email" class="input-text input-contato" type="text" name="" placeholder="E-mail *">
                                            <input id="telefone" asp-for="Contato.Telefone" class="input-text input-contato celphone" type="text" name="txttelefone" placeholder="Telefone *">
                                            <input id="contatoWhatsapp" asp-for="Contato.ContatoWhatsapp" class="custom-control-input" type="checkbox" checked>
                                            <label style="color:white" class="form-check-label" for="gridCheck1">Aceito Contato via Whatsapp </label>
                                            <textarea id="mensagem" asp-for="Contato.Mensagem" class="input-text  text-area input-contato" cols="0" rows="5" placeholder="Digite sua mensagem *"></textarea>
                                            <div class="form-group">
                                                <input id="btnContato"
                                                       data-controller="Home"
                                                       data-action="RegistraContato"
                                                       data-body-message="Registrar contato"
                                                       class="btn input-btn btn-block saveasync" type="submit" value="Enviar">
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <iframe src="@Model.Estabel.Localizacao" height="350" frameborder="0" style="border:0; width:100%" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
            </section>
        </div>

        <div class="container">
            <div class="footer_bottom"><span>Todos os Direitos © reservados - <a href="https://www.linkedin.com/in/bmendesgonca/" target="_blank" title="Linkedin">Desenvolvido por Bruno M. Gonçalves</a> </span> </div>
        </div>
    </footer>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/envia-contato.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover({
            placement: 'bottom',
            trigger: 'hover'
        });


        $('#btnModal').click(function () {
            var url = "/Home/Depoimento";
            $.get(url, function (data) {
                $("#conteudoDepoimento").html(data);
            });
        });


    });

    //(function () {
    //    var options = {
    //        whatsapp: "+5511980655952", // Número do WhatsApp
    //        //company_logo_url: "~/img/logo-brand.png", // URL com o logo da empresa
    //        greeting_message: "Olá! Entre em contato conosco!", // Texto principal
    //        call_to_action: "Oi! entre em contato conosco via Whatsapp!", // Chamada para ação
    //        position: "right", // Posição do widget na página 'right' ou 'left'
    //    };
    //    var proto = document.location.protocol, host = "whatshelp.io", url = proto + "//static." + host;
    //    var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
    //    s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
    //    var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
    //})();
</script>


