@model cloudscribe.Pagination.Models.PagedResult<Servico>

@{
    ViewData["Title"] = "Index";
    ViewData["Controller"] = "Admin";
    ViewData["Action"] = "Servico";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Serviços cadastrados</h2>
<hr />
<p>
    <a class="btn btn-primary" asp-action="AddOrEdit"><i class="far fa-plus-square"></i> &nbsp; Cadastrar</a>
</p>

<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label for="inputPesquisa" class="control-label">Pesquisar</label>
            <input id="inputPesquisa" class="form-control" placeholder="Digite o nome do serviço" />
        </div>
    </div>
</div>

<div class="row">
    @if (TempData["MSG_S"] != null)
    {
        <div class="col-md-3">
            <div class="form-group">
                <p class="alert alert-success">@TempData["MSG_S"]</p>
            </div>
        </div>

    }
    @if (TempData["MSG_E"] != null)
    {
        <div class="col-md-3">
            <div class="form-group">
                <p class="alert alert-danger">@TempData["MSG_E"]</p>
            </div>
        </div>
    }
</div>


@if (Model.Data.Count > 0)
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("Servico")
                </th>
                <th>
                    @Html.DisplayName("Categoria")
                </th>
                <th>
                    @Html.DisplayName("Pagina inicial")
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Data)
            {
                <tr class="servico">
                    <td class="nomeServico">
                        @Html.DisplayFor(modelItem => item.NomeServico)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoriaId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExibeIndex)
                    </td>
                    <td>
                        <a asp-action="AddOrEdit" asp-route-id="@item.ServicoId"><i class="fa fa-marker fa-lg"></i> Editar</a> &nbsp; | &nbsp;
                        <a asp-action="Delete" asp-route-id="@item.ServicoId" class="btn-excluir"><i class="far fa-trash-alt"></i> Excluir</a>

                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div>
        <partial name="~/Areas/Admin/Views/_PaginationPartial.cshtml" view="ViewData" model="Model" />
    </div>
}
else
{
    <br />
    <span>Nenhum registro cadastrado!</span>
}


<script>
    var campoFiltro = document.querySelector("#inputPesquisa");

    campoFiltro.addEventListener("input", function () {
        var servicos = document.querySelectorAll(".servico");
        for (var i = 0; i < servicos.length; i++) {
            var servico = servicos[i];

            if (this.value.length > 0) {
                tdNomeServico = servico.querySelector(".nomeServico");
                nomeServico = tdNomeServico.textContent;
                var expressao = new RegExp(this.value, "i");

                if (!expressao.test(nomeServico)) {
                    servico.classList.add("invisivel");
                }
                else {
                    servico.classList.remove("invisivel");
                }
            }
            else {
                servico.classList.remove("invisivel");
            }

        }
    });
</script>



