@{
    ViewData["Title"] = "Pagina Inicial";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div>
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Pagina Inicial</h1>
        <hr />
    </div>

    <div class="content-wrapper">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
                <div class="card card-statistics">
                    <div class="card-body">
                        <div class="clearfix">
                            <div class="float-left">
                                <h4 class="text-danger">
                                    <i class="fa fa-bar-chart-o highlight-icon" style="font-size:40px" aria-hidden="true"></i>
                                </h4>
                            </div>
                            <div class="float-right">
                                <p class="card-text text-dark">Visitas diárias</p>
                                <h4 class="bold-text">600</h4>
                            </div>
                        </div>
                        <p class="text-muted">
                            <i class="fa fa-repeat mr-1" aria-hidden="true"></i> Ultima atualização: 06/06/2020
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
                <div class="card card-statistics">
                    <div class="card-body">
                        <div class="clearfix">
                            <div class="float-left">
                                <h4 class="text-warning">
                                    <i class="fa fa-youtube highlight-icon" style="color:#c4302b;font-size:40px" aria-hidden="true"></i>
                                </h4>
                            </div>
                            <div class="float-right">
                                <p class="card-text text-dark"><i class="fa fa-users mr-1" aria-hidden="true"></i>Seguidores</p>
                                <h4 class="bold-text">500</h4>
                            </div>
                        </div>
                        <p class="text-muted">
                            <i class="fa fa-repeat mr-1" aria-hidden="true"></i> Ultima atualização: 06/06/2020
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
                <div class="card card-statistics">
                    <div class="card-body">
                        <div class="clearfix">
                            <div class="float-left">
                                <h4 class="text-success">
                                    <i class="fa fa-facebook-official highlight-icon" style="color:#3b5998; font-size:40px" aria-hidden="true"></i>
                                </h4>
                            </div>
                            <div class="float-right">
                                <p class="card-text text-dark"><i class="fa fa-users mr-1" aria-hidden="true"></i>Seguidores</p>
                                <h4 class="bold-text">1.000</h4>
                            </div>
                        </div>
                        <p class="text-muted">
                            <i class="fa fa-repeat mr-1" aria-hidden="true"></i> Ultima atualização: 06/06/2020
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
                <div class="card card-statistics">
                    <div class="card-body">
                        <div class="clearfix">
                            <div class="float-left">
                                <h4 class="text-primary">
                                    <i class="fa fa-instagram highlight-icon" style="font-size:40px" aria-hidden="true"></i>
                                </h4>
                            </div>
                            <div class="float-right">
                                <p class="card-text text-dark"><i class="fa fa-users mr-1" aria-hidden="true"></i>Seguidores</p>
                                <h4 class="bold-text">1.000</h4>
                            </div>
                        </div>
                        <p class="text-muted">
                            <i class="fa fa-repeat mr-1" aria-hidden="true"></i> Ultima atualização: 06/06/2020
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="justify-content-between">
        <div class="row">
            <div class="col-md-6">
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h5 class="mb-0 text-gray-800">Contatos Pendentes</h5>
                </div>

                <div>
                    @if (ViewBag.Contatos != null)
                    {
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Cliente</th>
                                        <th scope="col">Mensagem</th>
                                        <th scope="col">E-mail</th>
                                        <th scope="col">Telefone</th>
                                        <th scope="col">Data/Hora</th>
                                    </tr>
                                </thead>
                                <tbody>


                                    @foreach (var contato in ViewBag.Contatos)
                                    {
                                        var mensagem = "";
                                        var telefone = "(" + contato.DDD + ")" + contato.Telefone;


                                        if (contato.Mensagem.Length > 20)
                                        {
                                            mensagem = contato.Mensagem.Substring(1, 20) + "...";
                                        }
                                        else
                                        {
                                            mensagem = contato.Mensagem;
                                        }
                                        <tr>

                                            <th scope="row"><a asp-area="Admin" asp-controller="Contato" asp-action="AddOrEdit" asp-route-id="@contato.ContatoId">@contato.Nome</a> </th>
                                            <td>@mensagem</td>
                                            <td>@contato.Email</td>
                                            <td>@telefone</td>
                                            <td>@contato.DataHora</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                    else
                    {
                        <p>Nenhum contato pendente.</p>
                    }

                </div>
            </div>

            <div class="col-md-6">
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h5 class="mb-0 text-gray-800">Depoimentos Pendentes</h5>
                </div>

                <div>
                    @if (ViewBag.Depoimentos != null)
                    {
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Cliente</th>
                                        <th scope="col">Depoimento</th>
                                        <th scope="col">Data/Hora</th>
                                    </tr>
                                </thead>
                                <tbody>


                                    @foreach (var depoimento in ViewBag.Depoimentos)
                                    {
                                        var descricao = "";

                                        if (depoimento.Descricao.Length > 100)
                                            descricao = depoimento.Descricao.Substring(1, 100) + "...";
                                        else
                                            descricao = depoimento.Descricao;
                                        <tr>
                                            <th scope="row"><a asp-area="Admin" asp-controller="Depoimento" asp-action="AddOrEdit" asp-route-id="@depoimento.Id">@depoimento.NomeCliente</a> </th>
                                            <td>@descricao</td>
                                            <td>@depoimento.DataCriacao</td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    }
                    else
                    {
                        <p>Nenhum depoimento pendente.</p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

